<div data-aos="fade-up" class="skills-section-large-viewport-wrapper">
    <div class="skills-section-large-viewport-icons-wrapper" [class]="{'touched': isTouched}">
        @for(icon of icons; track icon; let i= $index) {
        <div>
            <img [class]="skillIcons(icons, i)" [src]="'./assets/img/skills-section-icons/' + (i === icons.length - 1 && (hover || isTouched) ? 'hover-' + icons[i] : icons[i])"
                alt="skill-icon" (mouseenter)="i === icons.length - 1 ? hover = true : null"
                (mouseleave)="i === icons.length - 1 ? hover = false : null"
                (touchstart)="handleTouchStart($event, i)"
                (touchend)="endOfTouch()">
        </div>
        }
    </div>
    <div class="skills-section-large-viewport-description-wrapper">
        <div class="skills-section-large-viewport-headline-wrapper">
            <p>{{"skills.headline" | translate}}</p>
            <div class="blue-line-large-viewport"></div>
        </div>
        <p class="describe-of-working-idea-p">{{"skills.description-large-viewport" | translate}}</p>
        <div class="looking-for-another-skill-span-wrapper">
            <span>{{"skills.looking" | translate}} </span><span>{{"skills.another-skill" | translate}}</span>
        </div>
        <p class="feel-free-to-contact-me-p">{{"skills.contact-me" | translate}}</p>
        <div>
            <button class="get-in-touch-button"><a href="#contact">{{"skills.get-in-touch" | translate}}</a></button>
        </div>
    </div>
</div>