<div data-aos="fade-up" class="contact-me-section-main-wrapper">
    <div class="headline-wrapper">
        <span class="contact-span">{{ "contact.headline" | translate}}</span>
    </div>
    <div class="contact-me-wrapper">
        <div class="contact-me-p-wrapper">
            <div class="got-a-problem-to-solve-wrapper">
                <div class="blue-line"></div>
                <span>{{ "contact.subheadline" | translate}}</span>
            </div>
            <p>{{ "contact.contact-me" | translate}}</p><br>
            <p>{{ "contact.need-a-developer" | translate}} <span class="contact-me-span">{{ "contact.call-to-contact" | translate}}</span></p>
        </div>
        <app-contactform></app-contactform>
    </div>
    <img (click)="scrollToTop()" class="arrow-up" src="./assets/img/contact-section/go-up-button.svg" alt="up-arrow">
    <img class="purple-shadow" src="./assets/img/contact-section/purple-shadow-contact-section.svg" alt="">
</div>