.contact-me-section-main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}

.arrow-up {
    position: absolute;
    right: 8px;
    bottom: 20px;
    cursor: pointer;
}

.purple-shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -9999;
}

.headline-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;

    >span {
        font-size: clamp(45px, 8vmin, 90px);
        font-weight: 700;
    }
}

.headline-wrapper::after {
    content: "";
    height: 3px;
    background-color: #70E61C;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-left: 2px;
    width: calc(25% - 20px);
}

.contact-me-p-wrapper {
    display: flex;
    flex-direction: column;

    >.got-a-problem-to-solve-wrapper {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: clamp(24px, 5vw, 32px);
        font-weight: 700;
        padding-bottom: 10px;
    }

    > :nth-child(2),
    > :nth-child(4) {
        padding: 0px 8px;
    }
}

.contact-me-span {
    font-weight: 700;
}

.blue-line {
    width: 8px;
    border: 2px solid #1CDAE6
}

@media screen and (min-width: 500px) {
    .headline-wrapper::after {
        width: calc(35% - 20px);
    }
}

@media screen and (min-width: 660px) {
    .contact-me-p-wrapper > :nth-child(2),
    .contact-me-p-wrapper > :nth-child(4) {
        padding: 0px 24px;
    }

    .blue-line {
        width: 24px;
    }

    .arrow-up {
        right: 24px;
    }
}

@media screen and (min-width: 900px) {
    .contact-me-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .contact-me-p-wrapper {
        flex-basis: 47%;
    }

    app-contactform {
        flex-basis: 45%;
    }

    .contact-me-p-wrapper > :nth-child(2),
    .contact-me-p-wrapper > :nth-child(4) {
        padding-inline: 64px 0px;
    }

    .blue-line {
        width: 64px;
    }

    .purple-shadow {
        position: absolute;
        z-index: -9999;
        height: 950px;
    }

    .arrow-up {
        right: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .contact-me-p-wrapper {
        >.got-a-problem-to-solve-wrapper {
            gap: 36px;
        }
    }

    .contact-me-p-wrapper > :nth-child(2),
    .contact-me-p-wrapper > :nth-child(4) {
        padding-inline: 100px 0px;
    }

    .arrow-up {
        right: 100px;
    }
}