<div class="contact-me-section-main-wrapper">
    <div class="headline-wrapper">
        <span class="contact-span">Contact</span>
    </div>
    <div class="contact-me-wrapper">
        <div class="contact-me-p-wrapper">
            <div class="got-a-problem-to-solve-wrapper">
                <div class="blue-line"></div>
                <span>Got a problem to solve?</span>
            </div>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p><br>
            <p>Need a Frontend developer? <span class="contact-me-span">Contact me!</span></p>
        </div>
        <app-contactform></app-contactform>
    </div>
    <img class="arrow-up" src="./assets/img/contact-section/go-up-button.svg" alt="up-arrow">
    <img class="purple-shadow" src="./assets/img/contact-section/purple-shadow-contact-section.svg" alt="">
</div>