<header>
    <div class="header-content-wrapper">
        <div class="logo-wrapper">
            Patr<span class="i-dot">i</span>c<span class="k">k</span>
            <div class="language-toggle-slider-wrapper">
                <div class="language-toggle" (click)="toggleLanguage()">
                    <span>DE</span>
                    <div [class]="animateSlider()"
                        class="slider active-language"></div>
                    <span>ENG</span>
                </div>
            </div>
        </div>
      
        <nav class="menu-wrapper">
            <a href="#about-me">{{"header.about-me" | translate}}</a>
            <a href="#skills">{{"header.skills" | translate}}</a>
            <a href="#portfolio">{{"header.portfolio" | translate}}</a>
            <a href="#contact">{{"header.contact" | translate}}</a>
        </nav>
        <img (click)="toggleBurgerMenu()" class="burger-menu-img" [src]="images[currentImageIndex]" alt="burger-menu">
    </div>
</header>
<app-burger-menu [isActive]="burgerMenuOpen" [initialized]="initialized"></app-burger-menu>