header {
  background-color: #141D2F;
  position: relative;
  z-index: 10000;
}

.logo-wrapper {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.language-toggle-slider-wrapper {
  margin-left: 18px;
}

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  background-color: #141D2F;
  border-radius: 20px;
  border: solid 2px #9747FF;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.language-toggle span {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
  transition: color 0.3s ease;
}

 .slider {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40%;
  height: 90%;
  background-color: #70E61C;
  border-radius: 50%;
}

.slider.animate-to-right {
  animation: slide 0.3s ease forwards;
}

.slider.animate-to-left {
  animation: slide-reverse 0.3s ease forwards;
}


@keyframes slide {
  0% {
    right: auto;
    left: 10%;
  }
  25% {
    right: auto;
    left: 35%;
  }
  50% {
    right: auto;
    left: 50%;
  }
  75% {
    right: auto;
    left: 55%;
  }
  100% {
    right: 5%;
    left: auto;
  }
}

@keyframes slide-reverse {
  0% {
    left: auto;
    right: 10%;
  }
  25% {
    left: auto;
    right: 35%;
  }
  50% {
    left: auto;
    right: 50%;
  }
  75% {
    left: auto;
    right: 55%;
  }
  100% {
    left: 5%;
    right: auto;
  }
}

.i-dot {
  color: #70E61C;
}

.k {
  color: #9747FF;
}

.header-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px 37px 100px;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
  position: relative;

  &:hover {
    color: #70E61C;
  }
}

a::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 3px;
  background-color: transparent;
  bottom: 0;
  left: 0;
}

a:hover::after {
  background-color: #9747FF;
}

.burger-menu-img {
  width: 30px;
  height: 30px;
  display: none;
}

@media screen and (max-width:1200px) {
  .header-content-wrapper {
    padding: 37px 64px 37px 64px;
  }
}

@media screen and (max-width:900px) {
  a {
    font-size: 16px;
  }

  .header-content-wrapper {
    padding: 37px 24px 37px 24px;
  }
}

@media screen and (max-width:660px) {
  .menu-wrapper {
    display: none;
  }

  .burger-menu-img {
    display: block;
  }
}

@media screen and (max-width:380px) {
  .header-content-wrapper {
    padding: 37px 8px 37px 8px;
  }
}