<header>
    <div class="header-content-wrapper">
        <div class="logo-wrapper">
            Patr<span class="i-dot">i</span>c<span class="k">k</span>
        </div>
        <button (click)="switchLanguage('en')">English</button>
        <button (click)="switchLanguage('de')">Deutsch</button>
        <nav class="menu-wrapper">
            <a href="#about-me">{{"header.about-me" | translate}}</a>
            <a href="#skills">{{"header.skills" | translate}}</a>
            <a href="#portfolio">{{"header.portfolio" | translate}}</a>
            <a href="#contact">{{"header.contact" | translate}}</a>
        </nav>
        <img (click)="toggleBurgerMenu()" class="burger-menu-img" [src]="images[currentImageIndex]" alt="burger-menu">
    </div>
</header>
<app-burger-menu [isActive]="burgerMenuOpen" [initialized]="initialized"></app-burger-menu>