<header>
    <div class="header-content-wrapper">
        <div class="logo-wrapper">
            Patr<span class="i-dot">i</span>c<span class="k">k</span>
        </div>
        <nav class="menu-wrapper">
            <a href="#">About me</a>
            <a href="#">Skills</a>
            <a href="#">Portfolio</a>
        </nav>
        <img (click)="toggleBurgerMenu()" class="burger-menu-img" [src]="images[currentImageIndex]" alt="burger-menu">
    </div>
</header>
<app-burger-menu [isActive]="burgerMenuOpen" [initialized]="initialized"></app-burger-menu>