<div data-aos="fade-up" class="skills-section-small-viewport-wrapper">
    <div class="skills-section-small-viewport-headline-wrapper">
        <span>{{"skills.headline" | translate}}</span>
        <div class="blue-line"></div>
    </div>
    <div class="skills-section-small-viewport-introduction-wrapper">
        <p>{{"skills.description-small-viewport" | translate}}</p>
    </div>
    <div class="skills-section-small-viewport-icons-wrapper" [class]="{'touched': isTouched}">
        @for(icon of icons; track icon; let i= $index) {
        <div>
            <img class="skill-icons"
                [src]="'./assets/img/skills-section-icons/' + (i === icons.length - 1 && isTouched ? 'hover-continue-learning.svg' : icons[i])"
                (touchstart)="handleTouchStart($event, i)"
                (touchend)="endOfTouch()">
        </div>
        }
    </div>
    <div class="skills-section-small-viewport-looking-for-another-skill-wrapper">
        <div class="looking-for-another-skill-span-wrapper">
            <span>{{"skills.looking" | translate}}</span><span>{{"skills.another-skill" | translate}}</span>
        </div>
        <p>{{"skills.contact-me" | translate}}</p>
        <button class="get-in-touch-button"><a href="#contact">{{"skills.get-in-touch" | translate}}</a></button>
    </div>
</div>