.about-me-info-main-wrapper {
    width: 100%;
    position: relative;

    >img {
        max-width: 100%;
    }
}

.about-me-info-content-wrapper{
    padding: 0px 8px;
    margin-top: -45vw;
}

.about-me-info-content-headline-mobile {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 32px;
}

.icon-text-block {
    display: flex;
    gap: 10px;
    padding: 16px 0;
}

@media screen and (min-width:660px) {
    .about-me-profile-picture-and-info-main-container {
        margin-bottom: 0px;
    }
    .about-me-info-main-wrapper {
        display: none;
    }
}