.about-me-content-container {
    max-width: 1440px;
    margin: 0 auto;
}

.about-me-info-container {
    width: 100%;
}

.about-me-picture-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: -85px;


    img {
        max-width: 100%;
    }

}

.about-me-large-viewport-container {
    display: flex;
}

.profile-picture {
    max-height: 350px;
}

.green-and-purple-shadow {
    position: absolute;
    left: 0;
    z-index: -9999;
    min-width: 300px;
    max-width: 700px;
}

.about-me-info-container {
    position: relative;

    >img {
        max-width: 100%;
    }
}

.about-me-info-content-container {
    padding: 0px 24px;
    display: none;
    width: 50%;
}

.profile-picture-desktop-container {
    background-image: url("/assets/img/green-and-purple-shadow.svg");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;

    >img {
        max-width: 100%;
        max-height: 350px;
    }
}


.about-me-info-content-container-mobile {
    padding: 0px 8px;
    margin-top: -40vw;
}

.about-me-info-content-headline-desktop {
    font-size: clamp(45px, 8vw, 90px);
    font-weight: 700;
    padding-bottom: 32px;
}


.about-me-info-content-headline-mobile {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 32px;
}

.icon-text-block {
    display: flex;
    gap: 10px;
    padding: 16px 0;
}



@media screen and (min-width:660px) {
    .about-me-info-content-container {
        display: block;
    }

    .profile-picture-desktop-container {
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url("/assets/img/green-and-purple-shadow.svg");
        background-size: cover;
        width: 50%;
    
        img {
            width: 350px;
        }
    }
}