<div class="privacy-policy-main-wrapper">
    <img routerLink="" class="arrow-back" src="./assets/img/contact-section/go-up-button.svg" alt="up-arrow">
    <h1>{{ "privacy-policy.headline" | translate }}</h1>
    <div class="introduction-wrapper">
        <h2 id="m716">{{ "privacy-policy.preamble" | translate }}</h2>
        <p>{{ "privacy-policy.introduction" | translate }}</p>
        <p>{{ "privacy-policy.gender" | translate }}</p>
        <p>{{ "privacy-policy.date" | translate }}</p>
    </div>
    <div class="content-wrapper">
        <h2>{{ "privacy-policy.table-of-contents-headline" | translate }}</h2>
        <ul class="index">
            <li><p>{{ "privacy-policy.preamble" | translate }}</p></li>
            <li><p>{{ "privacy-policy.responsible-person" | translate }}</p></li>
            <li><p>{{ "privacy-policy.process-overview" | translate }}</p></li>
            <li><p>{{ "privacy-policy.legal-basis" | translate }}</p></li>
            <li><p>{{ "privacy-policy.security-measures" | translate }}</p></li>
            <li><p>{{ "privacy-policy.transfer-of-data" | translate }}</p></li>
            <li><p>{{ "privacy-policy.international-data-transfer" | translate }}</p></li>
            <li><p>{{ "privacy-policy.data-storage-and-deletion" | translate }}</p></li>
            <li><p>{{ "privacy-policy.rights" | translate }}</p></li>
            <li><p>{{ "privacy-policy.webhosting" | translate }}</p></li>
            <li><p>{{ "privacy-policy.contact" | translate }}</p></li>
            <li><p>{{ "privacy-policy.plug-in" | translate }}</p></li>
        </ul>
    </div>
    <div class="responsive-person-wrapper">
        <h2 id="m3">{{ "privacy-policy.responsible-person" | translate }}</h2>
        <p>Patrick Gogolin<br>Sophie-Schoop-Weg 58<br>21035 Hamburg</p>
        <p>{{ "legal-notice.email" | translate }}: <a href="mailto:patrick.gogolin@hotmail.com">patrick.gogolin&#64;hotmail.com</a></p>
        <p>{{ "legal-notice.imprint" | translate }}: <a href="https://patrick-gogolin.developerakademie.net/angular-projects/portfolio/imprint"
                target="_blank">https://patrick-gogolin.developerakademie.net/angular-projects/portfolio/imprint</a></p>
    </div>
    <div class="wrapper">
        <h2 id="mOverview">{{ "privacy-policy.process-overview" | translate }}</h2>
        <p>{{ "privacy-policy.process-overview-introduction" | translate }}</p>
        <h3>{{ "privacy-policy.type-of-data-processed" | translate }}</h3>
        <ul>
            <li>{{ "privacy-policy.type-of-processed-data-1" | translate }}.</li>
            <li>{{ "privacy-policy.type-of-processed-data-2" | translate }}.</li>
            <li>{{ "privacy-policy.type-of-processed-data-3" | translate }}.</li>
            <li>{{ "privacy-policy.type-of-processed-data-4" | translate }}.</li>
            <li>{{ "privacy-policy.type-of-processed-data-5" | translate }}.</li>
            <li>{{ "privacy-policy.type-of-processed-data-6" | translate }}.</li>
        </ul>
        <h3>{{ "privacy-policy.categories-of-data-subjects" | translate }}</h3>
        <ul>
            <li>{{ "privacy-policy.category-affected-persons-1" | translate }}.</li>
            <li>{{ "privacy-policy.category-affected-persons-2" | translate }}.</li>
        </ul>
        <h3>{{ "privacy-policy.purposes-of-processing" | translate }}</h3>
        <ul>
            <li>{{ "privacy-policy.purpose-processing-1" | translate }}.</li>
            <li>{{ "privacy-policy.purpose-processing-2" | translate }}.</li>
            <li>{{ "privacy-policy.purpose-processing-3" | translate }}.</li>
            <li>{{ "privacy-policy.purpose-processing-4" | translate }}.</li>
            <li>{{ "privacy-policy.purpose-processing-5" | translate }}.</li>
            <li>{{ "privacy-policy.purpose-processing-6" | translate }}.</li>
        </ul>
    </div>
    <div class="wrapper">
        <h2 id="m2427">{{ "privacy-policy.relevant-legal-bases" | translate }}</h2>
        <p><strong>{{ "privacy-policy.relevant-legal-bases-introduction" | translate }} </strong>{{ "privacy-policy.relevant-legal-bases-text-1" | translate }}</p>
        <ul>
            <li><strong>{{ "privacy-policy.relevant-legal-bases-text-2" | translate }}</strong> - {{ "privacy-policy.relevant-legal-bases-text-3" | translate }}</li>
            <li><strong>{{ "privacy-policy.relevant-legal-bases-text-4" | translate }}</strong> - {{ "privacy-policy.relevant-legal-bases-text-5" | translate }}</li>
            <li><strong>{{ "privacy-policy.relevant-legal-bases-text-6" | translate }}</strong> - {{ "privacy-policy.relevant-legal-bases-text-7" | translate }}</li>
        </ul>
        <p><strong>{{ "privacy-policy.relevant-legal-bases-text-8" | translate }} </strong>{{ "privacy-policy.relevant-legal-bases-text-9" | translate }}</p>
        <p><strong>{{ "privacy-policy.relevant-legal-bases-text-10" | translate }} </strong>{{ "privacy-policy.relevant-legal-bases-text-11" | translate }}</p>
    </div>
    <div class="wrapper">
        <h2 id="m27">{{ "privacy-policy.security-measures" | translate }}</h2>
        <p>{{ "privacy-policy.security-measures-text-1" | translate }}</p>
        <p>{{ "privacy-policy.security-measures-text-2" | translate }}</p>
        <p>{{ "privacy-policy.security-measures-text-3" | translate }}</p>
    </div>
    <div class="wrapper">
        <h2 id="m25">{{ "privacy-policy.transfer-of-data" | translate }}</h2>
        <p>{{ "privacy-policy.transfer-of-data-text-1" | translate }}</p>
    </div>
    <div class="wrapper">
        <h2 id="m24">{{ "privacy-policy.international-data-transfer" | translate }}</h2>
        <p>{{ "privacy-policy.international-data-transfer-text-1" | translate }} <a
                href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de"
                target="_blank">https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de.</a>
                {{ "privacy-policy.international-data-transfer-text-2" | translate }}<a href="https://www.dataprivacyframework.gov/"
                target="_blank">https://www.dataprivacyframework.gov/</a> {{ "privacy-policy.international-data-transfer-text-3" | translate }}</p>
    </div>
    <div class="wrapper">
        <h2 id="m12">{{ "privacy-policy.data-storage-and-deletion" | translate }}</h2>
        <p>{{ "privacy-policy.data-storage-and-deletion-text-1" | translate }}</p>
        <p>{{ "privacy-policy.data-storage-and-deletion-text-2" | translate }}</p>
        <p>{{ "privacy-policy.data-storage-and-deletion-text-3" | translate }}</p>
        <p>{{ "privacy-policy.data-storage-and-deletion-text-4" | translate }}</p>
        <p>{{ "privacy-policy.data-storage-and-deletion-text-5" | translate }}</p>
        <p>{{ "privacy-policy.data-storage-and-deletion-text-6" | translate }}</p>
        <p><strong>{{ "privacy-policy.data-storage-and-deletion-text-7" | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.data-storage-and-deletion-text-8" | translate }} </strong>{{ "privacy-policy.data-storage-and-deletion-text-9" | translate }} <ul>
                    <li>{{ "privacy-policy.data-storage-and-deletion-text-10" | translate }}</li>
                    <li>{{ "privacy-policy.data-storage-and-deletion-text-11" | translate }}</li>
                    <li>{{ "privacy-policy.data-storage-and-deletion-text-12" | translate }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <h2 id="m10">{{ "privacy-policy.rights" | translate }}</h2>
        <p>{{ "privacy-policy.rights-text-1" | translate }}</p>
        <ul>
            <li><strong>{{ "privacy-policy.rights-text-2" | translate }}</strong></li>
            <li><strong>{{ "privacy-policy.rights-text-3" | translate }} </strong>{{ "privacy-policy.rights-text-4" | translate }}</li>
            <li><strong>{{ "privacy-policy.rights-text-5" | translate }}: </strong>{{ "privacy-policy.rights-text-6" | translate }}</li>
            <li><strong>{{ "privacy-policy.rights-text-7" | translate }}</strong> {{ "privacy-policy.rights-text-8" | translate }}</li>
            <li><strong>{{ "privacy-policy.rights-text-9" | translate }}</strong> {{ "privacy-policy.rights-text-10" | translate }}</li>
            <li><strong>{{ "privacy-policy.rights-text-11" | translate }}</strong> {{ "privacy-policy.rights-text-12" | translate }}</li>
            <li><strong>{{ "privacy-policy.rights-text-13" | translate }}</strong> {{ "privacy-policy.rights-text-14" | translate }} </li>
        </ul>
    </div>
    <div class="wrapper">
        <h2 id="m225">{{ "privacy-policy.webhosting" | translate }}</h2>
        <p>{{ "privacy-policy.webhosting-text-1" | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.webhosting-text-2" | translate }}</strong> {{ "privacy-policy.webhosting-text-3" | translate }} </li>
            <li><strong>{{ "privacy-policy.webhosting-text-4" | translate }}</strong>{{ "privacy-policy.webhosting-text-5" | translate }}</li>
            <li><strong>{{ "privacy-policy.webhosting-text-6" | translate }}</strong> {{ "privacy-policy.webhosting-text-7" | translate }}</li>
            <li><strong>{{ "privacy-policy.webhosting-text-8" | translate }}</strong> {{ "privacy-policy.webhosting-text-9" | translate }} </li>
            <li class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }}</strong> {{ "privacy-policy.webhosting-text-11" | translate }}
            </li>
        </ul>
        <p><strong>{{ "privacy-policy.webhosting-text-12" | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.webhosting-text-13" | translate }} </strong> {{ "privacy-policy.webhosting-text-14" | translate }} <span
                    class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }}</strong>
                    {{ "privacy-policy.webhosting-text-11" | translate }} </span><strong>{{ "privacy-policy.webhosting-text-15" | translate }}</strong>
                    {{ "privacy-policy.webhosting-text-16" | translate }}</li>
            <li><strong>ALL-INKL: </strong>{{ "privacy-policy.webhosting-text-17" | translate }}
                <strong> {{ "privacy-policy.webhosting-text-18" | translate }}</strong> ALL-INKL.COM - Neue Medien Münnich, {{ "privacy-policy.webhosting-text-19" | translate }}: René Münnich, Hauptstraße
                68,
                02742 Friedersdorf, Deutschland; <span class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }}</strong> {{ "privacy-policy.webhosting-text-11" | translate }} </span><strong>Website: </strong> <a href="https://all-inkl.com/"
                    target="_blank">https://all-inkl.com/</a>; <strong>{{ "privacy-policy.webhosting-text-20" | translate }} </strong> <a
                    href="https://all-inkl.com/datenschutzinformationen/"
                    target="_blank">https://all-inkl.com/datenschutzinformationen/</a>.
                <strong>{{ "privacy-policy.webhosting-text-21" | translate }} </strong> {{ "privacy-policy.webhosting-text-22" | translate }}
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <h2 id="m182">{{ "privacy-policy.contact" | translate }}</h2>
        <p>{{ "privacy-policy.contact-text-1" | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.contact-text-2" | translate }}</strong> {{ "privacy-policy.contact-text-3" | translate }} </li>
            <li><strong>{{ "privacy-policy.contact-text-4" | translate }}</strong> {{ "privacy-policy.contact-text-5" | translate }}</li>
            <li><strong>{{ "privacy-policy.contact-text-6" | translate }}</strong> {{ "privacy-policy.contact-text-7" | translate }} </li>
            <li><strong>{{ "privacy-policy.contact-text-8" | translate }}</strong> {{ "privacy-policy.contact-text-9" | translate }} </li>
            <li class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }} </strong>{{ "privacy-policy.webhosting-text-11" | translate }}
                {{ "privacy-policy.contact-text-10" | translate }}</li>
        </ul>
        <p><strong>{{ "privacy-policy.contact-text-11" | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.contact-text-12" | translate }} </strong> {{ "privacy-policy.contact-text-13" | translate }} <span class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }}</strong> {{ "privacy-policy.contact-text-10" | translate }},
                {{ "privacy-policy.webhosting-text-11" | translate }}</span></li>
        </ul>
    </div>
    <div class="wrapper">
        <h2 id="m328">{{ "privacy-policy.plug-in" | translate }}</h2>
        <p>{{ "privacy-policy.plug-in-text-1" | translate }}</p>
        <p>{{ "privacy-policy.plug-in-text-2" | translate }}</p>
        <p><strong>{{ "privacy-policy.plug-in-text-3" | translate }}</strong> {{ "privacy-policy.plug-in-text-4" | translate }} </p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.plug-in-text-5" | translate }}</strong> {{ "privacy-policy.plug-in-text-6" | translate }} </li>
            <li><strong>{{ "privacy-policy.plug-in-text-7" | translate }}</strong> {{ "privacy-policy.plug-in-text-8" | translate }}</li>
            <li><strong>{{ "privacy-policy.plug-in-text-9" | translate }}</strong> {{ "privacy-policy.plug-in-text-10" | translate }}
            </li>
            <li><strong>{{ "privacy-policy.plug-in-text-11" | translate }}</strong> {{ "privacy-policy.plug-in-text-12" | translate }} </li>
            <li class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }}</strong> {{ "privacy-policy.plug-in-text-13" | translate }} (Art. 6 Abs. 1 S. 1 lit. a) DSGVO). {{ "privacy-policy.webhosting-text-11" | translate }}</li>
        </ul>
        <p><strong>{{ "privacy-policy.plug-in-text-14" | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ "privacy-policy.plug-in-text-15" | translate }} </strong>{{ "privacy-policy.plug-in-text-16" | translate }}
                 <strong>{{ "privacy-policy.plug-in-text-17" | translate }}</strong>
                 {{ "privacy-policy.plug-in-text-18" | translate }}
                 <span class=""><strong>{{ "privacy-policy.webhosting-text-10" | translate }}</strong> {{ "privacy-policy.webhosting-text-11" | translate }}</span></li>
        </ul>
        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">{{ "privacy-policy.plug-in-text-19" | translate }}</a></p>
    </div>
</div>