<div class="imprint-main-wrapper">
    <img routerLink="" class="arrow-back" src="./assets/img/contact-section/go-up-button.svg" alt="up-arrow">
    <h1>{{ "legal-notice.imprint" | translate}}</h1>
    <div class="personal-info-wrapper">
        <h2 id="m46">{{ "legal-notice.service-provider" | translate}}</h2>
        <p>Patrick Gogolin</p>
        <p>Sophie-Schoop-Weg 58</p>
        <p>21035 Hamburg</p>
    </div>
    <div class="contact-info-wrapper">
        <h2 id="m56">{{ "legal-notice.contact" | translate}}</h2><p>{{ "legal-notice.email" | translate}}: <a href="mailto:patrick.gogolin@hotmail.com">patrick.gogolin&#64;hotmail.com</a></p>
        <p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">{{ "legal-notice.created-with" | translate}}</a></p>
    </div>
</div>