.imprint-main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 8px;
}

h1 {
    font-size: clamp(24px, 7vmin, 48px);
}

h2 {
    font-size: clamp(16px, 5vmin, 32px);
}

.personal-info-wrapper {
    padding-block: 50px;
}

.contact-info-wrapper {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.arrow-back {
    transform: rotate(270deg);
    padding-block: 1em;
    cursor: pointer;
}

@media screen and (min-width: 660px) {
    .imprint-main-wrapper {
        padding-inline: 24px;
    }
}

@media screen and (min-width: 900px) {
    .imprint-main-wrapper {
        padding-inline: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .imprint-main-wrapper {
        padding-inline: 100px;
    }
}