.portfolio-section-content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}

.aqua-shadow {
    position: absolute;
    right: 0;
    z-index: -9999;
    width: 250px;
}

.green-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -9999;
    width: 150px;
}

.portfolio-section-headline-wrapper {
    display: flex;
    align-items: center;
}

.purple-line {
    width: clamp(20px, 10vmin, 68px);
    border: solid 2px #9747FF;
}

.portfolio-span {
    font-size: clamp(45px, 8vmin, 90px);
    font-weight: 700;
}

.introduction-p {
    padding: 1em 8px;
}

.mockup-picture-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

@media screen and (min-width:660px) {

    .mockup-picture-main-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}