.custom-style {
    width: 100%
}

.portfolio-section-content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 115px;
    position: relative;
}

.aqua-shadow {
    position: absolute;
    right: 0;
    z-index: -9999;
    width: 250px;
}

.green-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -9999;
    width: 150px;
}

.portfolio-section-headline-wrapper {
    display: flex;
    align-items: center;
}

.purple-line {
    width: 8px;
    border: solid 2px #9747FF;
}

.portfolio-span {
    font-size: clamp(45px, 8vmin, 90px);
    font-weight: 700;
}

.introduction-p {
    padding: 1em 8px;
}

.mockup-picture-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0px 8px;
}

@media screen and (min-width:660px) {

    .custom-style {
        width: 47%
    }

    .mockup-picture-main-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 24px;
    }

    .introduction-p {
        padding: 1em 24px;
    }

    .purple-line {
        width: 24px;
    }
}

@media screen and (min-width:900px) {

    .mockup-picture-main-wrapper {
        padding: 0px 60px;
    }

    .introduction-p {
        padding: 1em 60px;
    }

    .purple-line {
        width: 60px;
    }
}

@media screen and (min-width:1200px) {

    .mockup-picture-main-wrapper {
        padding: 0px 100px;
    }

    .introduction-p {
        padding: 1em 100px;
    }

    .purple-line {
        width: 100px;
    }
}