<section class="about-me-profile-picture-and-info-wrapper">
    <div class="about-me-info-content-wrapper">
        <div>
            <p class="about-me-info-content-headline">{{ 'about.headline' | translate }}</p>
            <p>{{ 'about.description' | translate }}</p>
            <div>
                <div class="icon-text-block">
                    <img src="./assets/img/location.svg" alt="location-sign">
                    <p>{{ 'about.location' | translate }}</p>
                </div>
                <div class="icon-text-block">
                    <img src="./assets/img/bulb.svg" alt="bulb-sign">
                    <p>{{ 'about.improvement' | translate }}</p>
                </div>
                <div class="icon-text-block">
                    <img src="./assets/img/puzzle.svg" alt="puzzle-sign">
                    <p>{{ 'about.motivation' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-picture-wrapper">
        <img src="./assets/img/me.png" alt="">
    </div>
</section>