.about-me-profile-picture-and-info-wrapper {
    position: relative;
    margin-bottom: -85px;
}

.about-me-info-content-wrapper {
    padding: 0px 24px 40px 24px;
    display: none;
    width: 50%;
}

.profile-picture-wrapper {
    background-image: url("../../../../assets/img/green-and-purple-shadow.svg");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;

    >img {
        max-width: 100%;
        max-height: 350px;
    }
}

.about-me-info-content-headline{
    font-size: clamp(45px, 8vw, 90px);
    font-weight: 700;
    padding-bottom: 32px;
}

.icon-text-block {
    display: flex;
    gap: 10px;
    padding: 16px 0;
}


@media screen and (min-width:660px) {
    .about-me-profile-picture-and-info-wrapper {
        margin-bottom: 0px;
    }
    .about-me-info-content-wrapper{
        display: block;
    }
  
    .profile-picture-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url("../../../../assets/img/green-and-purple-shadow.svg");
        background-size: cover;
        width: 50%;
    
        img {
            width: 350px;
            max-height: none;
        }
    }
}

@media screen and (min-width: 900px) {
    .about-me-info-content-wrapper {
        padding: 0px 24px 60px 64px;
    }
}

@media screen and (min-width: 1200px) {
    .about-me-info-content-wrapper {
        padding: 0px 24px 60px 100px;
    }
}