<div class="contact-form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <input #message="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="firstname" placeholder="Your name"
            aria-label="First Name" required>
            @if (!message.valid && message.touched && !message.disabled) {
                <span>Please enter Message</span>
            }

        <input #message="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email"
            aria-label="Email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!message.valid && message.touched && !message.disabled) {
                <span>Please enter Message</span>
            }

        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message"
            style="height:200px" aria-label="Subject" required></textarea>
        @if (!message.valid && message.touched && !message.disabled) {
            <span>Please enter Message</span>
        }

        <div class="checkbox-wrapper">
            <input type="checkbox" id="privacyPolicy" name="privacyPolicy" required>
            <p> I've read the <span class="privacy-policy-span">privacy policy</span> and agree to the processing of my data as outlined</p>
        </div>

        <input type="submit" value="Send message">
    </form>
</div>