<div class="contact-form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="wrapper">
            <input #name="ngModel" minlength="2" [(ngModel)]="contactData.name" type="text" [class]="returnBorder(name)"
                id="name" name="firstname" [placeholder]="'contactform.name-input' | translate" aria-label="First Name" required>
            @if (!name.valid && name.touched && !name.disabled) {
            <span class="error-message">{{ "contactform.name-required" | translate}}</span>
            }
        </div>
        <div class="wrapper">
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" [class]="returnBorder(email)"
                id="email" name="email" [placeholder]="'contactform.email' | translate" aria-label="Email" required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched && !email.disabled) {
            <span class="error-message">{{ "contactform.email-required" | translate}}</span>
            }
        </div>
        <div class="wrapper-textarea">
            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" [class]="returnBorder(message)"
                id="message" name="message" [placeholder]="'contactform.message' | translate" style="height:200px" aria-label="Subject"
                required></textarea>
            @if (!message.valid && message.touched && !message.disabled) {
            <span class="error-message">{{ "contactform.message-required" | translate}}</span>
            }
        </div>
        <div class="wrapper">
            <div class="checkbox-wrapper">
                <label class="checkbox-label">
                    <input #privacyPolicy="ngModel" type="checkbox" id="privacyPolicy" name="privacyPolicy"
                    [(ngModel)]="contactData.privacyPolicy" required>
                    <span class="checkmark"></span>
                </label>
                <p> {{ "contactform.i'-ve-read-the" | translate}} <a routerLink="privacy-policy" class="privacy-policy-router-link">{{ "contactform.privacy-policy" | translate}}</a>
                    {{ "contactform.confirm-policy" | translate}}</p>
            </div>
            @if (!privacyPolicy.valid && privacyPolicy.dirty) {
            <span class="error-message">{{ "contactform.accept-privacy-policy" | translate}}</span>
            }
        </div>
        <input type="submit" [value]="'contactform.send-message' | translate" [disabled]="!contactForm.valid">
    </form>
</div>