<div class="hero-content-wrapper">
    <div class="purple-shade-img-container">
        <img src="./assets/img/purple-shadow.png" alt="">
    </div>
    <div class="aqua-shade-img-container">
        <img src="./assets/img/aqua-shadow.png" alt="">
    </div>
    <div class="personal-info-wrapper">
        <div>
            <span>I am</span>
        </div>
        <div>
            <h1>Patrick Gogolin</h1>
            <h2>{{ 'hero.title' | translate }}</h2>
        </div>
    </div>
    <div class="lets-talk-button-container">
        <a href="#contact" class="button-link">
          <button>{{ 'hero.lets-talk' | translate }}</button>
        </a>
      </div>
    <div class="reference-icons-and-green-line-content-wrapper">
        <div class="green-line-container">
        </div>
        <div class="reference-icons-wrapper">
            <a href="https://github.com/Patrick-Gogolin" target="_blank" rel="noopener noreferrer">
                <img src="./assets/img/github.svg" alt="GitHub Reference Button">
            </a>
            <a href="mailto:patrick.gogolin@hotmail.com">
                <img src="./assets/img/mail.svg" alt="Email Reference Button">
            </a>
            <a href="https://www.linkedin.com/in/patrick-gogolin-818660189/" target="_blank">
                <img src="./assets/img/linked-in.svg" alt="linked-in-reference-button">
            </a>
        </div>
    </div>
    <div class="scroll-down-content-wrapper">
        <span class="vertical-text-scroll-down">{{ 'hero.scroll-down' | translate }}</span>
        <img class="arrow-down-img" src="./assets/img/arrow-down-line.svg" alt="arrow-down">
    </div>
</div>