<div class="hero-content-wrapper">
    <div class="purple-shade-img-container">
        <img src="./assets/img/purple-shadow.png" alt="">
    </div>
    <div class="aqua-shade-img-container">
        <img src="./assets/img/aqua-shadow.png" alt="">
    </div>
    <div class="personal-info-wrapper">
        <div>
            <span>I am</span>
        </div>
        <div>
            <h1>Patrick Gogolin</h1>
            <h2>FRONTEND DEVELOPER</h2>
        </div>
    </div>
    <div class="lets-talk-button-container">
        <button>Let’s talk</button>
    </div>
    <div class="reference-icons-and-green-line-content-wrapper">
        <div class="green-line-container">
        </div>
        <div class="reference-icons-wrapper">
           <img src="./assets/img/github.svg" alt="github-reference-button">
           <img src="./assets/img/mail.svg" alt="email-referensce-button">
           <img src="./assets/img/linked-in.svg" alt="linked-in-reference-button">
        </div>
    </div>
    <div class="scroll-down-content-wrapper">
        <span class="vertical-text-scroll-down">Scroll down</span>
        <img class="arrow-down-img" src="./assets/img/arrow-down-line.svg" alt="arrow-down">
    </div>
</div>