.mockup-picture-wrapper {
    overflow: hidden;
    width: 100%;
    border: 1px solid #70E61C;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 3em 1em;
    background: #141D2F;
    position: relative;
}

.mockup-picture-wrapper img {
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.button-wrapper {
    opacity: 0;
    z-index: -9999;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    position: absolute;
    display: flex;
    gap: 10px;
    pointer-events: none;

    >.button {
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        cursor: pointer;
    }

    >:nth-child(1) {
        border: 1px solid #1CDAE6;
        background: transparent;
        color: white;
    }

    >:nth-child(2) {
        border: none;
        background: #9747FF;
        color: white;
    }

    >a{
        text-decoration: none;
    }
}

.overlayer {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.mockup-picture-wrapper.active .button-wrapper {
    opacity: 1;
    z-index: 0;
    visibility: visible;
}

.mockup-picture-wrapper.touch-active .button-wrapper {
    pointer-events: auto;
}

.mockup-picture-wrapper.active .overlayer {
    opacity: 1;
    visibility: visible;
}

.mockup-picture-wrapper.active img {
    transform: scale(1.9);
    opacity: 0.5;
}

.headline {
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
    color: #9747FF;
    font-weight: 700;
}

.project-description{
    width: 300px;
    text-align: center;
    font-size: clamp(12px, 1vw, 16px);
    color: black;
}

.skill-wrapper {
    color: #70E61C;
    font-size: clamp(12px, 1vw, 16px);
}

.skill:not(:last-child)::after {
    content: ' | ';
}

.pointer {
    pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
    .mockup-picture-wrapper:hover .overlayer {
        opacity: 1;
        visibility: visible;
    }

    .mockup-picture-wrapper:hover .button-wrapper {
        opacity: 1;
        z-index: 0;
        visibility: visible;
        pointer-events: auto;
    }

    .mockup-picture-wrapper:hover img {
        transform: scale(1.9);
        opacity: 0.5;
    }

    .button-wrapper button:nth-child(1):hover {
        background: #1CDAE6;
    }

    .button-wrapper button:nth-child(2):hover {
        background: #70E61C;
    }
}