<div class="mockup-picture-wrapper" [class]="{'active': isActive}">
    <img src= "{{ project?.projectImage }}" alt="">
    <div class="button-wrapper">
        <button>Github</button>
        <button>Livetest</button>
    </div>
    <div class="overlayer">
        <p class="headline">{{ project?.projectName }}</p>
        <p class="p-tag">{{ project?.projectDescription}}</p>
        <div class="skill-wrapper">
            @for(skill of project?.projectSkills; track i; let i = $index ) {
                <span class="skill">{{ skill }}</span>
            }
        </div>
    </div>
</div>