<footer>
    <div class="footer-content-wrapper">
        <div class="logo-wrapper">
            Patr<span class="i-dot">i</span>c<span class="k">k</span>
        </div>
        <p>© Patrick Gogolin 2024</p>
        <div class="reference-icons-wrapper">
            <a href="https://github.com/Patrick-Gogolin" target="_blank" rel="noopener noreferrer">
                <img src="./assets/img/github.svg" alt="GitHub Reference Button">
            </a>
            <a href="mailto:patrick.gogolin@hotmail.com">
                <img src="./assets/img/mail.svg" alt="Email Reference Button">
            </a>
            <a href="https://www.linkedin.com/in/patrick-gogolin-818660189/" target="_blank">
                <img src="./assets/img/linked-in.svg" alt="linked-in-reference-button">
            </a>
        </div>
        <a routerLink="imprint">{{ "footer.legal-notice" | translate}}</a>
    </div>
</footer>