<footer>
    <div class="footer-content-wrapper">
        <div class="logo-wrapper">
            Patr<span class="i-dot">i</span>c<span class="k">k</span>
        </div>
        <p>© Patrick Gogolin 2024</p>
        <div class="icons-wrapper">
            <img src="../../../assets/img/github.svg" alt="">
            <img src="../../../assets/img/mail.svg" alt="">
            <img src="../../../assets/img/linked-in.svg" alt="">
        </div>
        <span>Legal Notice</span>
    </div>
</footer>
